@model ULABOBE.Models.ViewModels.CourseCLOVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Course Learning";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        


        @if (Model.CourseCLO.Id != 0)
        {

            <input type="hidden" asp-for="CourseCLO.Id" />
            <input type="hidden" asp-for="CourseCLO.QueryId" />
            <input type="hidden" asp-for="CourseCLO.CreatedBy" />
            <input type="hidden" asp-for="CourseCLO.CreatedIp" />
            <input type="hidden" asp-for="CourseCLO.CreatedDate" />
            //edit
            title = "Edit Course Learning";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            
            <div class="form-group row">
                <div class="col-4">
                    Semester
                </div>
                <div class="col-8">
                    <h5>@ViewBag.Semester</h5>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Course
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.CourseCLO.CourseHistoryId, Model.CourseHistoryLists, "-Select a Course",
                        new { @class = "form-control" })
                    <span asp-validation-for="CourseCLO.CourseHistory" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group row">
            <div class="col-4">
                Semester
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m => m.CourseCLO.SemesterId, Model.SemesterLists, "-Select a Semester",
                    new { @class = "form-control" })
                <span asp-validation-for="CourseCLO.SemesterId" class="text-danger"></span>
            </div>
        </div>*@

            <div class="form-group row">
                <div class="col-4">
                    Course Learning
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.CourseCLO.CLOId, Model.CourseLearningLists, "-Select a Course Learning",
                        new { @class = "form-control" })
                    <span asp-validation-for="CourseCLO.CLOId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CourseCLO.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="CourseCLO.Description" class="form-control"></textarea>
                    <span asp-validation-for="CourseCLO.Description" class="text-danger"></span>
                </div>
            </div>






            <input type="hidden" asp-for="CourseCLO.IsDeleted" value="false" />
            <input type="hidden" asp-for="CourseCLO.CreatedBy" value="423036" />
            <input type="hidden" asp-for="CourseCLO.CreatedIp" value="172.0.0.0" />
            <input type="hidden" asp-for="CourseCLO.UpdatedBy" value="423036" />
            <input type="hidden" asp-for="CourseCLO.UpdatedIp" value="172.0.0.0" />


            <br />
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.CourseCLO.Id != 0)
                    {

                        <partial name="_EditAndBackToListButton" model="Model.CourseCLO.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col col-lg-12"><br /><br /></div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/ts0708avjz6hbhhzi12375edn6ln2fznt4nkp6jvmtfaiky1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
        

    </script>
}